
  
body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  
  /* Banner Overlay */
  .container {
    max-width: 940px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .pageTitle {
    position: relative;
    top: -10px;
    right: 80px;
  }

  .pageTitle img{
    height: 50px;
  }
  
  header {
    padding-top: 10px;
    color: black;
    background-image:url('./images/background.jpg');
    background-position: center center;
    background-size: 100%;
  }

  p{
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h2{
    color: blue;
    font-size: 25px;
    text-shadow: 0.1em 0.1em 0.2em black
  }

  /* Site Navigation */
  .site-nav {
    margin-top: -10px;
  }
  
  .site-nav ul {
    margin: 0;
    padding: 0;
  }
  
  .site-nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
  }
  
  .site-nav a {
    display: block;
    color: black;
    font-weight: bold;
    font-family: Georgia;
    text-decoration: none;
    padding: 0px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
  }
  
  .site-nav a:hover {
    background-color: #e5e9dc;
  }
  

  footer {
    text-align: center;
    font-size: 85%;
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .fix {
    clear: both;
  }
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  .group {
    zoom: 1;
  }
  